.carousel{
    padding-top: 2.5rem ;
    #carouselIndicators{
        ol{
            li{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
            li.active{
                background-color: rgba(255, 0, 0, 0.692);
            }
        }
        .carousel-inner{
            .carousel-item{
                &:hover{
                    .playTrailer{                     
                        opacity: 1;
                    }
                }
                .playTrailer{
                    opacity: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    transition: all 0.2s linear;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    }  
}