.navbar {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px 37px 10px rgba(255, 255, 255, 0.6);
    // background-image: url('../img/space-bg.jpg');
    // background-position: center;
    // background-size: cover;
    width: 100%;
    position: fixed;
    z-index: 999;
    .logo {
        .navbar-brand {
            margin-right: 0.5rem;
            img {
                width: 50px;
            }
        }
        span {
            margin: 0;
            font-weight: 700;
            font-family: monospace;
            font-size: 2rem;
            background: linear-gradient(196deg, rgba(245, 230, 0, 1) 0%, rgba(245, 86, 0, 1) 100%);
            /* clip hackery */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .my-navbar {
        ul {
            li {
                font-size: 1.1rem;
                color: white;
                padding: 0 30px;
                a.nav-link {
                    transition: all 0.1s linear;
                    color: white;
                    &:hover {
                        color: yellow;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
