// * Carousel
@mixin brandsItemAfterTag($color) {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    border-bottom: 1px solid $color;
    border-color: $color
};