.showTimeItem {
    transform: scale(0.85);
    .showTimeItem__top {
        .overlay {
            .mask {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .showTimeItem__bot{
        .tenPhim{
            color: $color-white-0;
            display: block;
            font-weight: bold;
            text-align: center;
            transition: all 0.2s linear;
            &:hover{
                color: $color-yellow;
            }
        }
        .noiDung{
            text-align: center;
            color: $color-gray-6;
        }
        .btnTicket{
            font-size: 1.1em;
            i{
                margin-right: 10px;
                font-size: 1.5em;
            }
        }
    }
}
